/* 
#6943FF
#CCC1FF
#273549
#1F2937
#3D3D3D
 */

body {
    margin: 0;
    text-align: center;
    font-family: Inter, sans-serif;
}

h1, p, input {
    color: white;
}

h1 {
    font-size: 24px;
    margin: 20px;
}

input {
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    display: block;
    font-size: 58px;
    text-align: center;
    width: 100px;
    margin: 20px auto;
    
}

button {
    color: #3D3D3D;
    background-color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.top-container {
    background-color: #6943FF;
    margin: 0;
    padding: 10px;
}

h2 {
    color: #CCC1FF;
    font-size: 20px;
    margin-top: 10px;
}

p {
    margin: 5px auto;
    font-size: 14px;
}

.body-container {
    background-color: #1F2937;
    padding: 15px;
}

.unit-container {
    background-color: #273549;
    height: 80px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Remove up/down buttons in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove up/down buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}